@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Pacifico");

* {
	overflow-x: hidden;
}

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}
	
	body {
		line-height: 1;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}



	body {
		-webkit-text-size-adjust: none;
	}

/* Basic */

	@-ms-viewport {
		width: device-width;
	}

	body {
		-ms-overflow-style: scrollbar;
	}

	@media screen and (max-width: 480px) {

		html, body {
			min-width: 320px;
		}

	}



/* Type */

	body {
		
		color: #111111;
	}

	body {
		font-family: "Lato", sans-serif;
		font-size: 15pt;
		font-weight: 300;
		line-height: 2;
	}

	

	a {
		-moz-transition: color 0.2s ease-in-out;
		-webkit-transition: color 0.2s ease-in-out;
		-ms-transition: color 0.2s ease-in-out;
		transition: color 0.2s ease-in-out;
		text-decoration: none;
	}

		

	strong, b {
		font-weight: 700;
	}


	p {
		margin: 0 0 2em 0;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 700;
		line-height: 1.5;
		margin: 0 0 1em 0;
		text-transform: uppercase;
	}

		

	h1 {
		font-size: 2em;
		margin: 0 0 0.25em 0;
	}

	h2 {
		font-size: 1.75em;
	}

	h3 {
		font-size: 1.35em;
	}

	h4 {
		font-size: 1.1em;
	}

	h5 {
		font-size: 0.9em;
	}

	h6 {
		font-size: 0.7em;
	}

	@media screen and (max-width: 736px) {

		h1 {
			font-size: 1.5em;
		}

		h2 {
			font-size: 1.25em;
		}

		h3 {
			font-size: 1.1em;
		}

	}

	hr {
		border: 0;
		border-bottom: solid 1px;
		margin: 2em 0;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #e5474b;
	}

	hr {
		border-bottom-color: #e5474b;
	}

/* List */


	li {
		padding-left: 0.25em;
	}

	ul {
		list-style: disc;
		margin: 0 0 2em 0;
		padding-left: 1em;
	}

		ul li {
			padding-left: 0.5em;
		}

		

		ul.icons {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.icons li {
				display: inline-block;
				padding: 0 1em 0 0;
			}

				ul.icons li:last-child {
					padding-right: 0;
				}

				ul.icons li .icon:before {
					font-size: 2em;
				}

		ul {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul li {
				display: inline-block;
				padding: 0 1em 0 0;
				vertical-align: middle;
			}

				
	

/* Section/Article */

	section.special, article.special {
		text-align: center;
	}

	section .inner {
		max-width: 65em;
		width: calc(100% - 6em);
		margin: 0 auto;
	}

		@media screen and (max-width: 480px) {

			section .inner {
				max-width: 90%;
				width: 90%;
			}

		}

	header p {
		position: relative;
		margin: 0 0 1.5em 0;
	}

	header h2 + p {
		font-size: 1.25em;
		margin-top: -1em;
	}

	header h3 + p {
		font-size: 1.1em;
		margin-top: -0.8em;
	}

	header h4 + p,
	header h5 + p,
	header h6 + p {
		font-size: 0.9em;
		margin-top: -0.6em;
	}

	header p {
		color: #717171;
	}
/* Header */

	body {
		position: relative;
		padding-top: 5em;
	}

	#header {
		background: #1c1c1c;
		color: #d5d5d5;
		cursor: default;
		height: 100px;
		overflow-y: hidden;
		left: 0;
		line-height: 5em;
		position: fixed;
		text-align: right;
		top: 0;
		width: 100%;
		z-index: 10001;
	}

		#header .inner {
			max-width: 65em;
			width: calc(100% - 6em);
			margin: 0 auto;
			position: relative;
		}

			@media screen and (max-width: 480px) {

				#header .inner {
					max-width: 90%;
					width: 90%;
				}

			}

		#header .logo {
			font-family: 'Pacifico', cursive;
			display: inline-block;
			height: inherit;
			left: 0;
			line-height: inherit;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;
			color: #e5474b;
			font-size: 1.75em;
			text-transform: none;
			font-weight: normal;
			padding: 0;
		}
		@media screen and (max-width: 736px) {
#header .logo {
			font-family: 'Pacifico', cursive;
			display: inline-block;
			height: auto;
			left: 0;
			line-height: inherit;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;
			color: #e5474b;
			font-size: 1em;
			text-transform: none;
			font-weight: normal;
			padding: 0;
		}
		}
				@media screen and (max-width: 980px) {
#header .logo {
			font-family: 'Pacifico', cursive;
			display: inline-block;
			height: auto;
			left: 0;
			line-height: inherit;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;
			color: #e5474b;
			font-size: 1.35em;
			text-transform: none;
			font-weight: normal;
			padding: 0;
		}
		}
						@media screen and (max-width: 480px) {
#header .logo {
			font-family: 'Pacifico', cursive;
			display: inline-block;
			height: auto;
			left: 0;
			line-height: inherit;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;
			color: #e5474b;
			font-size: 0.60em;
			text-transform: none;
			font-weight: normal;
			padding: 0;
		}
		}

			#header .logo:hover {
				color: rgba(229, 71, 75, 0.75);
			}

		#header a {
			-moz-transition: color 0.2s ease-in-out;
			-webkit-transition: color 0.2s ease-in-out;
			-ms-transition: color 0.2s ease-in-out;
			transition: color 0.2s ease-in-out;
			display: inline-block;
			padding: 0 2em;
			color: #ffffff;
			text-decoration: none;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 0.85em;
		}
					@media screen and (max-width: 980px) {
						#header a {
			-moz-transition: color 0.2s ease-in-out;
			-webkit-transition: color 0.2s ease-in-out;
			-ms-transition: color 0.2s ease-in-out;
			transition: color 0.2s ease-in-out;
			display: inline-block;
			padding: 0 2em;
			color: #ffffff;
			text-decoration: none;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 0.65em;
		}
					}
		@media screen and (max-width: 480px) {
						#header a {
			-moz-transition: color 0.2s ease-in-out;
			-webkit-transition: color 0.2s ease-in-out;
			-ms-transition: color 0.2s ease-in-out;
			transition: color 0.2s ease-in-out;
			display: inline-block;
			padding: 0 2em;
			color: #ffffff;
			text-decoration: none;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 0.25em;
		}
					}
					@media screen and (max-width: 736px) {
						#header a {
			-moz-transition: color 0.2s ease-in-out;
			-webkit-transition: color 0.2s ease-in-out;
			-ms-transition: color 0.2s ease-in-out;
			transition: color 0.2s ease-in-out;
			display: inline-block;
			padding: 0 2em;
			color: #ffffff;
			text-decoration: none;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 0.45em;
		}
					}

			#header a:hover {
				color: rgba(255, 255, 255, 0.75);
			}

			#header a:last-child {
				padding-right: 0em;
			}

			@media screen and (max-width: 736px) {

				#header a {
					padding: 0 0.5em;
				}

			}

	@media screen and (max-width: 480px) {

		#header {
			min-width: 320px;
		}

	}


/* Banner */

	#banner {
		background-color: #e5474b;
		color: #f2a3a5;
		padding: 20em 0 11em 0;
		background-color: #0c0c0c;
		background-image: url("../../images/cryptoaccueil.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 15% left;
		text-align: left;
		position: relative;
		z-index: 9990;
	}

		#banner input, #banner select, #banner textarea {
			color: #ffffff;
		}

		#banner a {
			color: #ffffff;
		}

		#banner strong, #banner b {
			color: #ffffff;
		}

		#banner h1, #banner h2, #banner h3, #banner h4, #banner h5, #banner h6 {
			color: #fff;
		}




		#banner .inner {
			max-width: 65em;
			width: calc(100% - 6em);
			margin: 0 auto;
			position: relative;
			z-index: 10000;
			line-height: 1.5;
		}

			@media screen and (max-width: 480px) {

				#banner .inner {
					max-width: 90%;
					width: 90%;
				}

			}
@media screen and (max-width: 980px) {
		#banner h1 {
			font-size: 1em;
			margin: 0 0 0.1em 0;
			padding: 0;
			letter-spacing: 1px;
			font-weight: 700;
		}
}
@media screen and (max-width: 736px) {
		#banner h1 {
			font-size: 0.65em;
			margin: 0 0 0.1em 0;
			padding: 0;
			letter-spacing: 1px;
			font-weight: 700;
		}
}

			#banner h1 span {
				font-weight: 400;
			}

		

/* Main */

	#main {
		padding: 4em 0 2em 0;
		margin: 10px;
		
	}

	#one {
		padding: 6em 0 4em 0;
	}

		@media screen and (max-width: 980px) {

			#one {
				padding: 4em 0 2em 0;
			}

		}

		@media screen and (max-width: 736px) {

			#one {
				padding: 2em 0 0.1em 0;
			}

		}

	#two {
		padding: 6em 0 4em 0;
		background: #f3f3f3;
		background: -moz-linear-gradient(left, #f3f3f3 0%, #f3f3f3 50%, #f7f7f7 0%, #f7f7f7 100%);
		background: -webkit-linear-gradient(left, #f3f3f3 0%, #f3f3f3 50%, #f7f7f7 0%, #f7f7f7 100%);
		background: linear-gradient(to right, #f3f3f3 0%, #f3f3f3 50%, #f7f7f7 0%, #f7f7f7 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#f7f7f7',GradientType=1 );
	}
	@media screen and (max-width: 980px) {
		#two {
		padding: 4em 0 2em 0;
		background: #f3f3f3;
		background: -moz-linear-gradient(left, #f3f3f3 0%, #f3f3f3 50%, #f7f7f7 0%, #f7f7f7 100%);
		background: -webkit-linear-gradient(left, #f3f3f3 0%, #f3f3f3 50%, #f7f7f7 0%, #f7f7f7 100%);
		background: linear-gradient(to right, #f3f3f3 0%, #f3f3f3 50%, #f7f7f7 0%, #f7f7f7 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#f7f7f7',GradientType=1 );
	}
	}
	@media screen and (max-width: 736px) {
		#two {
		padding: 2em 0 0.1em 0;
		background: #f3f3f3;
		background: -moz-linear-gradient(left, #f3f3f3 0%, #f3f3f3 50%, #f7f7f7 0%, #f7f7f7 100%);
		background: -webkit-linear-gradient(left, #f3f3f3 0%, #f3f3f3 50%, #f7f7f7 0%, #f7f7f7 100%);
		background: linear-gradient(to right, #f3f3f3 0%, #f3f3f3 50%, #f7f7f7 0%, #f7f7f7 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#f7f7f7',GradientType=1 );
	}
	}

		#two .inner {
			display: -ms-flexbox;
			display: -moz-flex;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			-moz-flex-direction: row;
			-webkit-flex-direction: row;
			-ms-flex-direction: row;
			flex-direction: row;
			justify-content: space-around;
		}
		@media screen and (max-width: 980px) {
			#two .inner {
			display: -ms-flexbox;
			display: -moz-flex;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			-moz-flex-direction: column;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
			justify-content: left;
		}
		}
@media screen and (max-width: 980px) {
	#two .inner article {
				width:100%;
			}

				#two .inner article:first-child {
					padding-right: 6em;
				}

				#two .inner article:last-child {
					padding-left: 6em;
				}
}
@media screen and (max-width: 736px) {
	#two .inner article {
				width:100%;
			}

				#two .inner article:first-child {
					padding-right: 6em;
				}

				#two .inner article:last-child {
					padding-left: 6em;
				}
}
			#two .inner article {
				width: 100%;
			}

				#two .inner article:first-child {
					padding-right: 6em;
				}

				#two .inner article:last-child {
					padding-left: 6em;
				}

	#three {
		padding: 6em 0 4em 0;
	}

		#three .inner {
			display: -ms-flexbox;
			display: -moz-flex;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			-moz-flex-direction: row;
			-webkit-flex-direction: row;
			-ms-flex-direction: row;
			flex-direction: row;
			-moz-justify-content: space-between;
			-webkit-justify-content: space-between;
			-ms-justify-content: space-between;
			justify-content: space-between;
			-ms-flex-pack: justify;
		}

			#three .inner article {
				width: 26%;
				display: block;
			}

				#three .inner article p {
					color: #717171;
				}

				#three .inner article .icon {
					color: #b3b3b3;
					font-size: 3em;
				}

			@media screen and (max-width: 980px) {

				#three .inner {
					-moz-flex-direction: column;
					-webkit-flex-direction: column;
					-ms-flex-direction: column;
					flex-direction: column;
				}

					#three .inner article {
						width: 100%;
						margin: 0 auto;
					}

			}

		@media screen and (max-width: 980px) {

			#three {
				padding: 4em 0 2em 0;
			}

		}

		@media screen and (max-width: 736px) {

			#three {
				padding: 2em 0 0.1em 0;
			}

		}

/* Footer */

	#footer {
		background-color: #e5474b;
		color: #f2a3a5;
		padding: 4em 0 2em 0;
		background: #e5474b;
		width: 100%;
		height: auto;
		
	}

		#footer input, #footer select, #footer textarea {
			color: #ffffff;
		}

		#footer a {
			color: #ffffff;
		}

		#footer strong, #footer b {
			color: #ffffff;
		}

		#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
			color: #fff;
		}



		#footer .inner {
			max-width: 65em;
			width: calc(100% - 6em);
			
		}

			@media screen and (max-width: 480px) {

				#footer .inner {
					max-width: 90%;
					width: 90%;
				}

			}

		.pic {
			height: 300px;
			margin-left: 20px;
		}
		.ether, .nem, .cardano, .stellar, .tron, .eos ,.test1{
			overflow: hidden;
			padding-right: 300px;
		}
		.ether, .pic, .nem, .pic4, .cardano, .pic2, .pic6, .stellar, .eos, .pic8, .tron, .pic0,.test1{
			float: right;
			margin-right: -160px;
		}
		.pic4, .pic6, .pic8, .pic0 {
			height: 300px;
			margin-left: 40px;
		}
		.pic2, .pic6 {
			height: 250px;
			margin-left: 20px;
			margin-bottom: 15px;
		}
		.pic1, .pic5, .pic7, .pic9, .pic3{
			height: 280px;
			margin-right: 40px;
			margin-bottom: 10px;
		}
		.ripple, .litecoin, .neo, .iota, .dash{
			overflow: hidden;
			padding-left: 300px;
		}	
		.pic1, .ripple, .pic3, .litecoin, .pic5, .neo, .iota, .pic7, .dash, .pic9 {
			float: left;
			margin-left: -160px;
		}	
		
		
		